{% extends 'base.html' %}

{% block content %}

    <script>
        // wait for the DOM to be loaded
        $(function() {


        });
    </script>



    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('agent.agent_home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">My Branch</a></li>

            </ol>
        </nav>
    </div>

    <form action="{{ url_for('agent.branch_report') }}" method="POST">
        <div class="input-group row">
            <label for="info_branch_id" class="col-sm-2 col-form-label">Branch ID</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="info_branch_id" value="{{ g.agent['branch_id'] }}">
            </div>
        </div>
        <div class="input-group row">
            <label for="info_branch_address" class="col-sm-2 col-form-label">Branch Address</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="info_branch_address" value="{{ g.agent['address'] }}">
            </div>
        </div>

        {%   if g.user['usergroup'] == 'branch_manager' %}
        <div class="input-group row">

            <div class="col-sm-10">
                <button type="submit"  value="Submit" class="btn btn-primary submit">Get Trans. Report</button>
            </div>
        </div>
        {%  endif %}
    </form>

    <p class="h4">Agent List</p>

    <div id="result_table_div">
        {{ agents }}

    </div>

{% endblock %}
