{% extends 'base.html' %}

{% block content %}

    <script>
        // wait for the DOM to be loaded
        $(function() {

            $("#pref_property_search_form .submit").on('click', function(e) {
                var form = $('#pref_property_search_form');
                var url = form.attr('action');

                $.ajax({
                    type: "GET",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function(data)
                    {
                        $('#pref_property_table').html(data); // show response from the php script.
                        $('#pref_property_table').parent().show();
                    }
                });
                e.preventDefault(); // avoid to execute the actual submit of the form.
            });
        });
    </script>



    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('agent.agent_home') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Customer</a></li>
				<li class="breadcrumb-item active" aria-current="page">Details</li>
            </ol>
        </nav>
    </div>

    <p class="h5">Customer</p>
    <form>
        <div class="input-group row">
            <label for="info_id" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="info_id" value="{{ customer.id }}">
            </div>
        </div>
        <div class="input-group row">
            <label for="info_name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="info_name" value="{{ customer.title }} {{ customer.name }}">
            </div>
        </div>
        <div class="input-group row">
            <label for="info_phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="info_phone" value="{{ customer.phone }}">
            </div>
        </div>
    </form>
    <div class="preference bg-light">
    <p class="h5">Preference</p>
    <form id="pref_property_search_form"
          action="{{ url_for('customer.customer_preference', id=customer.preference_id) }}" method="get">
        <div class="input-group row">
            <label for="pref_estate" class="col-sm-2 col-form-label">Estate</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="pref_estate" value="{{ customer.estate }}">
            </div>
        </div>
        <div class="input-group row">
            <label for="pref_district" class="col-sm-2 col-form-label">District</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="info_name" value="{{ customer.district}}">
            </div>
        </div>
        <div class="input-group row">
            <label for="pref_buying_budget" class="col-sm-2 col-form-label">Buying Budget</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="pref_buying_budget" value="{{ customer.buying_budget }}">
            </div>
        </div>
        <div class="input-group row">
            <label for="pref_rental_budget" class="col-sm-2 col-form-label">Rental Budget</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="pref_rental_budget" value="{{ customer.rental_budget }}">
            </div>
        </div>
        <div class="input-group row">
            <label for="pref_transactiontype" class="col-sm-2 col-form-label">Transaction Type</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="pref_transactiontype" value="{{ customer.transactiontype }}">
            </div>
        </div>

        <div class="input-group row">
            <label for="input_type" class="col-sm-2 col-form-label">Find Properties For:</label>
            <div class="col-sm-2">
                <select class="form-control" id="input_type" name="type">
                    <option>sale</option>
                    <option>rent</option>
                </select>
            </div>
            <button type="button"  value="Submit" class="btn btn-primary submit">Submit</button>
        </div>




    </form>
    </div>


    <div style="margin-top: 15px;display:none">
		<p class="h5">Properties matched Customer's Preference</p>
        <div id="pref_property_table">


        </div>


    </div>

{% endblock %}