{% extends 'base.html' %}

{% block content %}
    <script>
        // wait for the DOM to be loaded
        $(function() {

            $(".submit").on('click', function(e) {
                var form = $('#customer_search_form');
                var url = form.attr('action');

                $.ajax({
                    type: "GET",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function(data)
                    {
                        $('#result_table_div').html(data) // show response from the php script.
                    }
                });
                e.preventDefault(); // avoid to execute the actual submit of the form.
            });
        });
    </script>


    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('agent.agent_home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Customer</li>
            </ol>
        </nav>
            <form id="customer_search_form"
                  action="{{ url_for('customer.customer_list_filter') }}" method="get">
                <div class="input-group  mb-3">
                    <label for="input_id" class="col-sm-2 col-form-label">ID: </label>
                    <div class="col-sm-4">
                        <input type="text" id="input_id" name="id" class="form-control"
                               value=""/>
                    </div>
                </div>
                <div class="input-group  mb-3">
                    <label for="input_name" class="col-sm-2 col-form-label">Name: </label>
                    <div class="col-sm-4">
                        <input type="text" id="input_name" name="name" class="form-control"
                               value=""/>
                    </div>
                </div>

                <div class="input-group  mb-3">
                    <label for="input_phone" class="col-sm-2 col-form-label">Phone: </label>
                    <div class="col-sm-4">
                        <input type="text" id="input_phone" name="phone" class="form-control"
                               value=""/>
                    </div>
                </div>


                    <button type="button"  value="Submit" class="btn btn-primary submit">Submit</button>

            </form>

    </div>
    <div id="result_table_div" style="margin-top: 15px;">



    </div>
    </div>
{% endblock %}