<!doctype html>
<title>HK Property</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">



<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="container-fluid">
    <div class="row">
        <div class="top_banner col">
            <p class="h1 app_title">HK Property</p>

            <ul class="auth_function right">
                {% if g.user %}
                    <li><span>{{ g.user['username'] }}</span>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                        {% else %}

                    <li><a href="{{ url_for('auth.login') }}">Log In</a>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">

        <div class="menu col-2">
            {% if g.user['usergroup'] == 'admin'%}
            <div class="list-group">
                <a href="{{ url_for('admin.user_list') }}" class="list-group-item list-group-item-action">User</a>
                <a href="{{ url_for('admin.user_list') }}" class="list-group-item list-group-item-action">Agent</a>
                <a href="{{ url_for('admin.user_list') }}" class="list-group-item list-group-item-action">Customer</a>
                <a href="{{ url_for('admin.user_list') }}" class="list-group-item list-group-item-action">Property Owner</a>
                <a href="{{ url_for('admin.property_list') }}" class="list-group-item list-group-item-action">Property</a>
                <a href="{{ url_for('admin.user_list') }}" class="list-group-item list-group-item-action">Transaction</a>
                <a href="{{ url_for('admin.user_list') }}" class="list-group-item list-group-item-action">Estate</a>
            </div>
            {% else %}
            <div class="list-group">
                <a href="{{ url_for('agent.my_branch_page') }}" class="list-group-item list-group-item-action">My Branch</a>
                <a href="{{ url_for('property.property_list') }}" class="list-group-item list-group-item-action">
                    Property
                </a>
                <a href="{{ url_for('customer.customer_list') }}" class="list-group-item list-group-item-action">Customer</a>
            </div>

            {% endif %}

        </div>


        <div class="content col-10">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
